body {
	margin: 0;
	padding: 0;
	font: normal normal normal 20px 'Calibri', Sans;
}
section {
	width: 100%;
}

/*Semantic Table Homework*/
table {
	margin: 50px auto;
	border: 1px solid #434343;
	border-collapse: separate;
	border-spacing: 0;
}
td,th {
	padding: 5px 10px;
	border: 1px solid #434343;
}
th {
	background-color: #cccccc;
}
td {
	text-align: center;
}
caption {
	font-size: 24px;
}
.pretty-cell {
	font-weight: bold;
	background-color: #cccccc;
}
/*Semantic Table Homework End*/